{% extends "base.html" %}

{% block content %}
<font size="+2">

{% if not results.correct %}
[{{lastquestion}}={{results.full_answer}}]<br>
[{{ results.diff.0|safe }} &rarr; {{ results.diff.1|safe }} ]
<br>
{% endif %}

<br>

<form name="run" action="." method="post" autocomplete="off">{% csrf_token %}
{{ form.question }}
<!--{{ newword }} = {{ form.answer }}<p>-->
{{ question }} = <input id="answer" name="answer" type="text" value="" autocomplete="off" autofocus><p>
{% if newword_data.choices %}
<font size="-0">hints: {% for hint in newword_data.choices %} {{ hint }} &#151; {% endfor %} </font><p>
{% endif %}
<input type="submit" value="Submit" />
<input type="submit" value="Ignore this word for this round" name="ignore" />
</form>
</font>

<p>

{% endblock content %}
