{% extends "base.html" %}

{% block content %}

{% if wordpairs %}
<table border="1">
{% for word in wordpairs %}
  <tr> <td>{{ loop.index }}</td> <td>{{word.0}}</td> <td>{{word.2}}</td></tr>
{% endfor %}
</table>
{%endif%}

<form action="." method="post">{{ form.csrf_token }}
{{ form.wordlist.label }}  {{ form.wordlist() }}<p>
{{ form.from_english.label }}  {{ form.from_english() }}<br>
{{ form.randomize.label }}  {{ form.randomize() }}<br>
{{ form.randomize_local.label }}  {{ form.randomize_local() }}<br>
{{ form.provide_choices.label }}  {{ form.provide_choices() }}<br>
{{ form.segment.label }}  {{ form.segment() }}<br>
{{ form.alg.label }}  {{ form.alg() }}<p>
<input type="submit" value="Submit" />
<input type="submit" value="List all words" name="do_list_words" />
<input type="submit" value="Statistics" name="do_stats" />
</form>

{% endblock content %}
