<html>

<body>
{% block content %}

{% if wordpairs %}
<table border="1">
{% for word in wordpairs %}
  <tr> <td>{{word.0}}</td> <td>{{word.1}}</td></tr>
{% endfor %}
</table>
{%endif%}

<form action="/" method="post">{{ form.csrf_token }}
{{ form.wordlist.name }}  {{ form.wordlist() }}<p>
{{ form.from_english.name }}  {{ form.from_english() }}<p>
{{ form.randomize.name }}  {{ form.randomize() }}<p>
<input type="submit" value="Submit" />
<input type="submit" value="List all words" name="list" />
</form>

{% endblock content %}
</body>

</html>
